@tailwind base;
@tailwind components;
@tailwind utilities;
::-webkit-scrollbar {
  height: 7px;
  width: 10px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #dda853;
}
@layer base {
  :root {
    --background: 48, 79%, 93%;
    --foreground: 37, 67%, 60%;
    --card: 48, 79%, 93%;
    --popover: 48, 79%, 93%;
    --popover-foreground: 37, 67%, 60%;

    --primary: 37, 67%, 60%;
    --primary-foreground: 210 40% 98%;
    --accent: 169, 28%, 73%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 194, 56%, 19%;
    --foreground: 37, 67%, 60%;
    --card: 194, 56%, 19%;
    --popover: 194, 56%, 19%;
    --popover-foreground: 37, 67%, 60%;

    --primary: 37, 67%, 60%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --accent: 169, 28%, 73%;

    --secondary: 48, 79%, 93%;
    --secondary-foreground: 210 40% 98%;

    --radius: 0.5rem;
    --border: 160, 97%, 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
