.main {

}
.mainHeaderDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.descriptionInfo{
  color: rgba(128, 128, 128, 0.5);
  /* text-decoration: underline 10px #FA7070; */
  font-weight: 200;
  font-size: 30px;
}
.descriptionInfo span{
  color: rgba(128, 128, 128, 0.24);
}

.popup {
  text-align: center;
}

.icon {
  padding: 10px;
}

.fadeIn {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
