.main {
}
.triangleDiv {
  z-index: 99;
}
.mainHeaderDiv {
}
.descriptionInfo {
  color: rgba(128, 128, 128, 0.5);
  /* text-decoration: underline 10px #FA7070; */
  font-weight: 200;
  font-size: 30px;
}
.descriptionInfo span {
  color: rgba(128, 128, 128, 0.24);
}

.popup {
  text-align: center;
}

.icon {
  padding: 10px;
}

.fadeIn {
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.arrowDown {
  animation: bounce 2s infinite;
}
